body 
{
    background-color:#000;
    color:#fff;
    font-family:Arial, sans-serif;
    font-weight: bold;
}

h1
{
    color:grey; 
    font-family:Verdana, sans-serif;
}

.maindiv
{
    background-color:#fff;
    color:#000;
    width:500px;
    padding:20px;
    border-radius:25px;
    margin-left:auto;
    margin-right: auto;
}

.flex-container
{
    display: flex;
    flex-flow: row wrap;
    margin-left: 15%;
    margin-right:15%;
}

.flex-item-left
{
    width: 35%;
}

.flex-item-right
{
     width: 55%;
}

var
{
    background-color:yellow;
    font-style:normal;
}
@media screen and (max-width: 767px)
{
    .maindiv
    {
        width:90%;
    }
    h1
    {
    text-align:center;
    }
    .flex-container
    {
    margin-left: 20%;
    margin-right:auto;
    }
    .flex-item-left,
    .flex.item-right
	{
		flex: 1 50%;
        padding-bottom:0.5em;
	}
      
}
